apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: calcu-streamlit-app
spec:
  selector:
    app: backend
    component: api
  ports:
    - protocol: TCP
      port: 80         # <--- Cambia 8000 por 80 (Puerto "público" del service)
      targetPort: 8000 # <--- Mantén 8000 (Puerto real de tu app FastAPI/Flask)
  type: ClusterIP      # <--- Déjalo como ClusterIP. Es lo correcto.