apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: streamlit-app-ingress-prod
  namespace: calcu-streamlit-app
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  ingressClassName: traefik
  rules:
  - http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend-service
            port:
              number: 80
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-service
            port:
              number: 80